*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right,#EB4A70,#96277C);
}

.top_nav{
    display: block;
    background-color: #f090d9;
    border: 1px solid #f090d9;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 1.5%;
    padding: 0.8%;
}

.navbar{
    display: flex;
    

}
.nav_elem{
    text-decoration: none;
  position: relative;
  display: inline-block;
}

.nav_elem::after{
    content: '';
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 5px;
    background: white;
    transform: scaleX(0);
    transition: transform .35s ease;
}

.nav_elem:hover::after{
    transform: scaleX(1);
}
.ul_menu{
    list-style-type: none;
    display: flex;
}
.navbar ul li{
    
    margin: 0.8%;
}
.navbar ul li a{
    display: block;
    padding: 14px 16px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: large;
    
    font-weight: bolder;
    background-image: linear-gradient(to right,#EB4A70,#96277C) ;
    border-bottom: 5px solid transparent;
}
.navbar ul li a:hover{
    
    /* border-bottom:5px solid rgb(221, 210, 210); */
}
#search_label{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    
}
#search-btn:hover{
   background-color: rgb(90, 61, 90);
}
#searchBy,#searchKey{
    height: 25px;
    width: 10vw;
}
#search-btn{
    text-align: center;
    width: 8vw;
    height: 25px;
    background-color: rgba(146, 20, 185, 0.479);
    color: white;
    border-radius: 4px;
}
.search_container{
    float:left;
    margin-top: 8vh;
    
    padding: 6px;
}
.tableContent{
    height: 50vh;
    overflow: scroll;
    width: 45vw;
    margin-top: 2.5vh;
    margin-right: 90px;
    background-color: #f090d9;
    font-style: italic;
    
    
}
thead{
    font-weight: bolder;
    color: cornsilk;
}
table,th,td{
    border: 1px solid black;
}
#donor_table th{
    background-color: brown;
}
#logo {
    
    position: absolute;
    right: 30px;
    top: 45px;
}
#bellIcon{
   position: absolute;
   right: 110px;
   top: 25px;
}
.menu_icon{
    display: none;
    z-index: 3;
    cursor: pointer;
    position: absolute;
    top: 26px;
    float: left;
}
.bar1,.bar2,.bar3{
    width: 30px;
    height: 5px;
    margin: 6px 0;
    background-color: black;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
.menu_option{
    display: flex;
    list-style-type: none;
}
@media screen and (max-width: 800px){
    .menu_icon{
        display: inline-block;
    }
    .ul_menu{
        display: none;
    }
    .top_nav,.search_container{
        flex: 100%;
    }
    .navbar,.navbar ul {
        flex-direction: column;
    }
    .navbar ul li a{
        width: 100%;
    }
    .box{
        float:none;
        width: 100%;
    }
}

.box{
    float: left;
    width: 50%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }



.slideshow {
    
    
    width: 728px;
    
overflow: hidden;
height: 500px;



}
.slide-wrapper {
width: 3000px;
border-radius: 15px;
animation: slide 10s infinite;
}
.image-container{
    
margin-top: 50px;
float: left;
height: 500px;
width: 728px;
}
.image-container:nth-child(1) {
background-image: url("/img/homeimg1.jpg") ;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.image-container:nth-child(2) {
background-image: url("/img/homeimg2.jpg") ;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.image-container:nth-child(3) {
background-image: url("/img/homeimg3.png") ;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.image-container:nth-child(4) {
background-image: url("https://images.unsplash.com/photo-1615461066159-fea0960485d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1316&q=80") ;
background-repeat: no-repeat;
background-size: 100% 100%;
}
@keyframes slide {
20% {margin-left: 0px;}
30% {margin-left: -728px;}
50% {margin-left: -728px;}
60% {margin-left: -1456px;}
70% {margin-left: -1456px;}
80% {margin-left: -2184px;}
90% {margin-left: -2184px;}
}
.donate_info{
    background-color: white;
    
    -moz-box-shadow: inset 0 0 10px 10px #888;
-webkit-box-shadow: inset 0 0 10px 10px#888;
box-shadow: inset 0 0 10px 10px #888;
 
}
.quotes_img{
    width: 728px;
    
}

.request_div{
    margin: 10%;
}

/* footer{
    width: 100%;
    display: block;
    background-color: #5a234d;
    height: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
} */

#donate_quote{
    text-align: center;
    color: rgb(187, 255, 0);
}