<footer id="contact-us" class="footer">
    <div class="contact">
    <br>
    <p class="footer__title">Donate Blood Save Life</p><br>
    <p class="highlight" style="background-color: white; margin:0;color: black; padding:20px;margin:0 25%; border-radius:10px;">Let us Know about your querries</p>
           
   </div>      

    <div class="logos">
        
        <br>
    
        <a href=""><img src="https://img.icons8.com/office/30/000000/whatsapp--v1.png"> Whatsapp</p></a><br>
        <a href="#" target="_blank" ><img src="https://img.icons8.com/fluency/30/000000/twitter.png"><p> Twitter</p></a><br>
        <a href="#" target="_blank" ><img src="https://img.icons8.com/fluency/30/000000/instagram-new.png"/><p> Instagram </p></a><br>
        <a href="#" target="_blank" ><img src="https://img.icons8.com/color/30/000000/linkedin.png"/><p> LinkedIn </p></a><br>
        <a href="mailto:ankit09@gmail.com" target="_blank" ><img src="https://img.icons8.com/fluency/30/000000/gmail-new.png"/><p> Mail Us</p></a><br><br>
    </div>    
    
    <div class="contact">
    <p>&copy; 2021 copyright all right reserved</p><br>
   </div>
     
</footer>