<!DOCTYPE html>
<html>
    <head>
       <title>Logged out</title>
       <link rel="stylesheet" href="/CSS/logout.css">
    </head>
    <body>
        <div class="logout_container">
        <h1>You have been logged out successfully</h1><a id="btn_login" href="/login">Login</a>
        </div>
    </body>
</html>